<!-- Electroninc Allocation - Allocation Module -->

<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Electronic Allocation
          </div>
     
          <div class="card-body"> <!-- BEGIN: Form Content-->
            <form [formGroup] = "detailInput"(ngSubmit)="electronicAllocation()">

              <div class="form-row">
                <div class="col-lg-6">
                          
                  <div class = "form-group row">
                    <label class="col-md-4 col-form-label" >PAYPOINT ID</label>
                    <div class = "col-md-6">
                      <input type = "text" class="form-control" formControlName= "paypointID" required> 
                    </div>
                  </div>
    
                  <div class = "form-group row">
                    <label class="col-md-4 col-form-label" >CREDIT FILES</label>
                    <div class = "col-md-6">
                      <select class="form-control" id="select" formControlName = "creditFiles">
                        <option value="0">Please Select</option>
                        <option value="1">Credit File 001</option>
                        <option value="2">Credit File 002</option>
                      </select>
                    </div>
                  </div>
                    
                  <div class = "form-group row">
                    <label class="col-md-4 col-form-label" >RECEIPT No.</label>
                    <div class = "col-md-6">
                      <select class="form-control" id="select" formControlName = "receiptNo">
                        <option value="0">Please Select</option>
                        <option value="1">Receipt No. 001</option>
                        <option value="2">Receipt No. 002</option>
                      </select>
                    </div>
                  </div>

                  <div class = "form-group row">
                    <label class="col-md-4 col-form-label" >RECEIPT PERIOD</label>
                    <div class = "col-md-6">
                      <input class="form-control" formControlName = "receiptPeriod">
                    </div>
                  </div>
                  
                  <div class = "form-group row">
                    <label class="col-md-4 col-form-label" >STATEMENT No.</label>
                    <div class = "col-md-6">
                      <select class="form-control" id="select" formControlName = "statementNo">
                        <option value="0">Please Select</option>
                        <option value="1">Statement 001</option>
                        <option value="2">Statement 002</option>
                      </select>
                    </div>
                  </div>

                  <div class = "form-group row">
                    <label class="col-md-4 col-form-label" >STATEMENT PERIOD</label>
                    <div class = "col-md-6">
                      <input class="form-control" formControlName = "statementPeriod">
                    </div>
                  </div>

                  <div class="form-group row">
                     <label class="col-md-4 col-form-label">ALLOCATED PERIOD</label>
                    <div class = "col-md-6">
                      <input class="form-control" id="date-input" type="date" 
                       formControlName = "allocatedPeriod" name="date-input" value = "2018-09-30" required>
                     </div>
                  </div>

                </div>
                
                <!-- 2nd Column: All Disabled -->
                <div class="col-lg-6">
                            
                  <div class = "form-group row">
                    <label class="col-md-4 col-form-label" >PAYPOINT NAME</label>
                    <div class = "col-md-6">
                      <input class="form-control" formControlName = "paypointName">
                    </div>
                  </div>
              
                  <div class = "form-group row">
                    <label class="col-md-4 col-form-label" >CREDIT FILE AMOUNT</label>
                      <div class = "col-md-6">
                        <input class="form-control" formControlName = "creditAmount">
                      </div>
                  </div>

                  <div class = "form-group row">
                    <label class="col-md-4 col-form-label" >GROSS AMOUNT (R)</label>
                    <div class = "col-md-6">
                      <input class="form-control" formControlName = "grossAmountReceipt">
                    </div>
                  </div>

                  <br>
                  <br>

                  <p><div class = "form-group row">
                    <label class="col-md-4 col-form-label" >GROSS AMOUNT (S)</label>
                      <div class = "col-md-6">
                        <input class="form-control" formControlName = "grossAmountStatement">
                      </div>
                  </div><p></p>
                        
                </div>
  
              </div>
  
              <hr>
              
              <!-- form control buttons here:  -->
              <div class = "form-row text-center btn-toolbar">
                <div class= "col-lg-12">
                  <div class="btn-group mr-2">
                    <button type="submit" class="btn btn-md btn-primary">Allocate</button> 
                  </div>
  
                  <div class="btn-group mr-2">
                    <button type="button" class="btn btn-md btn-primary" (click)="detailInput.reset({allocatedPeriod:'2018-09-30'});">Clear</button>
                  </div>
  
                  <div class="btn-group mr-2">
                    <button class="btn btn-md btn-primary" (click)="toggleDisplayAllocation">Exit</button> 
                  </div>
                </div>
              </div>
  
            </form>
          </div> <!-- END: Form Content -->
  
        </div>
      </div>
    </div>

      <!-- Report/Results Container displayAllocation -->
  <div class="row" *ngIf="displayAllocation">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Bank Statement Posting Report
          <span class="text float-right">{{ today | date : "d-MMM-y" }}</span>        </div>
  
        <div class="card-body">
          <div class="row">

            <div class="col-lg-6">
              <div class="row">
                <p class="col-lg-4 font-weight-bold">BANK ACCOUNT: </p>
                <p class="col-lg-6">{{bankStatement.bankAccNo}}</p>
              </div>

              <div class="row">
                <p class="col-lg-4 font-weight-bold">BANK STATEMENT ID: </p>
                <p class="col-lg-6">{{bankStatement.bankStmID}}</p>
              </div>

              <div class="row">
                <p class="col-lg-4 font-weight-bold">STATEMENT No.: </p>
                <p class="col-lg-6">{{bankStatement.stmtNo}}</p>
              </div>

              <div class="row">
                <p class="col-lg-4 font-weight-bold">DATE FROM: </p>
                <p class="col-lg-6">{{bankStatement.fromDate}}</p>
              </div>

              <div class="row">
                <p class="col-lg-4 font-weight-bold">DATE TO: </p>
                <p class="col-lg-6">{{bankStatement.toDate}}</p>
              </div>

              <div class="row">
                <p class="col-lg-4 font-weight-bold">OPENING BALANCE: </p>
                <p class="col-lg-6">{{bankStatement.openingBalance}}</p>
              </div>
              
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <p class="col-lg-4 font-weight-bold">BANK NAME: </p>
                    <p class="col-lg-6">{{bankStatement.bankName}}</p>
                  </div>
                  <div class="row">
                      <p class="col-lg-4 font-weight-bold">INPUT DATE: </p>
                      <p class="col-lg-6">{{bankStatement.inputDate}}</p>
                    </div>
                    <div class="row">
                        <p class="col-lg-4 font-weight-bold">CASHIER: CODE</p>
                        <p class="col-lg-6">{{bankStatement.cashierCode}}</p>
                      </div>

                      <div class="row">
                        <p class="col-lg-4 font-weight-bold">CASHIER NAME: </p>
                        <p class="col-lg-6">{{bankStatement.cashierName}}</p>
                      </div>

                      <br> 

                      <div class="row">
                        <p class="col-lg-4 font-weight-bold">CLOSING BALANCE: </p>
                        <p class="col-lg-6">{{bankStatement.closingBalance}}</p>
                      </div>
            </div>
    
          <br>

           <div class="col-lg-12">

            <!-- Reprint Receipt -->
              <table class="table table-bordered table-hover">
                <thead class="thead-light">
                  <tr>
                    <th>TRANSACTION DESCRIPTION</th>
                    <th>POLICY NUMBER</th>
                    <th>POLICY PAYER</th>
                    <th>PAY MODE</th>
                    <th>AMOUNT</th>
                  </tr>
                </thead>
                
                <tbody>
                  <!-- begin: loop for listing the receipts --> 
                  <tr *ngFor="let transaction of stmTransactions">
                    <td>{{transaction.transDesc}}</td>
                    <td>{{transaction.policyNo}}</td>
                    <td>{{transaction.policyPayor}}</td>
                    <td>{{transaction.payMode}}</td>
                    <td class="text-right">{{transaction.amount}}</td>
                  </tr>

                  <tr class="font-weight-bold">
                    <td class="text-center" colspan="4">Net Movement: </td><td class="text-right">{{netMovement | number : '.2-2' }}</td>
                  </tr>

                </tbody>

              </table>

           </div>
           
          </div>

          <div class="row btn-toolbar text-center">
            <div class= "col-lg-12">
              <div class="btn-group mr-2">
                <button type="button" class="btn btn-md btn-primary">Print</button>
              </div>
 
              <div class="btn-group mr-2">
                  <button type="button" class="btn btn-md btn-primary" (click)="toggleDisplayReport()">Exit</button>
                </div>
            </div>
            </div>

        </div>       

      </div>
    </div>
  </div>

  </div>