<!-- Collection - Application Summary -->

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> MisAllocated Policy Information
        </div>
   
        <div class="card-body">

          <form [formGroup] = "BankStatInput" (ngSubmit)="summaryReport()">
           <!--Bank Account Details-->
            <div class="form-row">
              <div class="col">
                 
                <div class = "form-group row">
                  <label class="col-sm-2 col-form-label" >Policy Code</label>
                  <div class="col-md-2">
                    <input class="form-control" id="text-input" type="text" formControlName = "paymentMode">
                  </div>
                  </div>
                  <div class = "form-group row">
                  <label class="col-md-2 col-form-label" >MisAllocation ID:</label>
                  <div class="col-md-2">
                    <input class="form-control" id="text-input" type="text" formControlName = "Bdid" disabled/>
                  </div>
                </div>

                <div class = "form-group row">
                <a class="text-success" >
                  <div class="col-md-3 text-center">
                      <button type="button" class="btn btn-md btn-ghost-primary" (click)="add()">Add</button>
                    </div>
              </a>
           </div>
          
                        
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" >Bank Name</label>
                    <div  class="col-md-2">
                      <input class="form-control" id="text-input" type="text" formControlName = "BName"/>
                     </div>

                     <label class="col-md-2 col-form-label" >Account Number</label>
                     <div class="col-md-2">
                       <input class="form-control" id="text-input" type="text" formControlName = "accNumber"/>
                      </div>
                      <label class="col-md-2 col-form-label" >Account Description</label>
                      <div class="col-md-2">
                        <input class="form-control" id="text-input" type="text" formControlName = "AccDesc"/>
                       </div>
                    </div>
                <div class="form-group row">
                  <label class="col-md-2 col-form-label">Creation Date</label>
                  <div  class="col-md-2">
                    <input class="form-control" id="date-input" type="date" formControlName = "CrDate" name="date-input" required>
                  </div>
                  <label class="col-md-2 col-form-label">Modified Date</label>
                  <div  class="col-md-2">
                    <input class="form-control" id="date-input" type="date" formControlName = "mdDate" name="date-input" required>
                  </div>
                </div>                  
            
                      
            </div>
          </div>
        </div>
        </div>
          <!--End Of Details-->
          <!--Bank Statemt Details Details-->
          <div class="panel-group">
              <div class="panel panel-default">
                  <div class="panel-heading"> <h3>
                  
                      <small class="text-muted">Bank Statement Details</small>
                    </h3>       </div>
                  <div class="panel-body">
          <div class="form-row">
              <div class="col">

                <div class = "form-group row">
                    <label class="col-md-2 col-form-label" >Statement Number</label>
                  <div class="col-md-2">
                    <input class="form-control" id="text-input" type="text" formControlName = "statementNumber"/>
                   </div>

                   <label class="col-md-2 col-form-label" >Posting Status</label>
                   <div class="col-md-2">
                     <input class="form-control" id="text-input" type="text" formControlName = "postingStatus" value="UNPOSTED" disabled/>
                    </div>

                  </div>
                
                        
                <div class="form-group row">

                    <label class="col-md-2 col-form-label">Date From</label>
                    <div  class="col-md-2">
                      <input class="form-control" id="date-input" type="date" formControlName = "dateFrom" name="date-input" required>
                    </div>

                    <label class="col-md-2 col-form-label">Date to</label>
                    <div  class="col-md-2">
                      <input class="form-control" id="date-input" type="date" formControlName = "dateTo" name="date-input" required>
                    </div>

                    <label class="col-md-2 col-form-label" >Login Name</label>
                   <div class="col-md-2">
                     <input class="form-control" id="text-input" type="text" formControlName = "loginName" value="tmokoto" disabled/>
                    </div>
                    
                    </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" >Opening Balace</label>
                    <div  class="col-md-2">
                      <input class="form-control" id="text-input" type="text" formControlName = "opBalance"/>
                     </div>

                     <label class="col-md-2 col-form-label" >Closing Balance</label>
                     <div class="col-md-2">
                       <input class="form-control" id="text-input" type="text" formControlName = "closingBalance"/>
                      </div>
                      <label class="col-md-2 col-form-label" >Branch</label>
                      <div class="col-md-2">
                        <input class="form-control" id="text-input" type="text" formControlName = "Branch" value="Gaborone HQ" disabled/>
                       </div>
                </div>
                        
                                   
            </div>
            </div>
            </div>
                      
            </div>
          </div>
        </div>
          </form>
          <!--Bank Statement Allocations-->
          <div class="panel-group">
              <div class="panel panel-default">
                  <div class="panel-heading"> <h3>
                  
                      <small class="text-muted">Bank Statement Allocations</small>
                    </h3>       </div>
                  <div class="panel-body">
          <div class="col-md-12 mb-4">
              <!-- Nav tabs -->
              <tabset>
                <tab heading="Premium">
                 <!-- Editable table -->
<div class="card">
    <div class="card-body">
      <div id="table" class="table-editable">
      
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">Transaction Type</th>
            <th class="text-center">Period</th>
            <th class="text-center">Policy Code</th>
            <th class="text-center">Payor</th>
            <th class="text-center">Expected Premium</th>
            <th class="text-center">Allocated Amount</th>
            
          </tr>
          <tr *ngFor="let person of personList; let id = index">
            <td>
              <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.age}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)" (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.country}}</span>
            </td>
            <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
            </td>
            <td>
              <span class="table-up">
                <a class="indigo-text">
                  <!-- <mdb-icon fas icon="long-arrow-alt-up"></mdb-icon> -->
                </a>
              </span>
              <span class="table-down">
                <a class="indigo-text">
                  <!-- <mdb-icon fas icon="long-arrow-alt-down"></mdb-icon> -->
                </a>
              </span>
            </td>
            <td>
              <span class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                <button type="button" class="btn btn-sm btn-ghost-primary"  (click)="remove(id)">Remove</button>
              </span>
            </td>
          </tr>
          
        </table>
        <span class="col-md-2">
            <a class="text-success" >
                <div class="col-md-2 text-center">
                    <button type="button" class="btn btn-md btn-ghost-primary" (click)="add()">Add</button>
                  </div>
            </a>
          </span>
      </div>
    </div>
  </div>
  <!-- Editable table -->
                </tab>
                <tab heading="Sundry">
                  2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </tab>
                <tab heading="Unspecified">
                  3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </tab>
              </tabset>
            </div><!--/.col-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>