<div class="animated fadeIn">
  

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Use the grid for big devices!
          <small>
            <code>.col-lg-*</code>
            <code>.col-md-*</code>
            <code>.col-sm-*</code>
          </small>
        </div>
        <div class="card-body">
          <form action="" method="post" class="form-horizontal">
            <div class="form-group row">
              <div class="col-md-7">
                <input type="text" class="form-control" placeholder="Cashier Code">
              </div>
              <div class="form-group col-sm-4">
                <label for="ccyear">Year</label>
                <select class="form-control" id="ccyear">
                  <option>Cashier_1</option>
                  <option>Cashier_2</option>
                  
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder=".col-md-6">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder=".col-md-6">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-5">
                <input type="text" class="form-control" placeholder=".col-md-5">
              </div>
              <div class="col-md-7">
                <input type="text" class="form-control" placeholder=".col-md-7">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder=".col-md-4">
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder=".col-md-8">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary">Action</button>
          <button type="button" class="btn btn-sm btn-danger">Action</button>
          <button type="button" class="btn btn-sm btn-warning">Action</button>
          <button type="button" class="btn btn-sm btn-info">Action</button>
          <button type="button" class="btn btn-sm btn-success">Action</button>
        </div>
      </div>
    </div>
  </div>
  
</div>
