<!--Cashier Table-->

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Payment Method Details
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Payment Method Code</th>
                <th>Payment Method Description</th>
                <th>Enabled</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CHQ</td>
                <td>CSH</td>
                <td><input type="checkbox"></td>
                
              </tr>
              <tr>
                <td>CHEQUE</td>
                <td>CASH</td>
                <td><input type="checkbox"></td>
               
              </tr>
              
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  
    </div>
    <!--End Of Table-->
<!--Form-->     
        
    