<!--Cashier Table-->

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Payment Method Details
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Payment Method Code</th>
                <th>Payment Method Description</th>
                <th>Enabled</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CHQ</td>
                <td>CSH</td>
                <td><input type="checkbox"></td>
                
              </tr>
              <tr>
                <td>CHEQUE</td>
                <td>CASH</td>
                <td><input type="checkbox"></td>
               
              </tr>
              
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="card-body">
    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div class="form-group row">
      </div>
     
      <div class="form-group row">
       
        <div class="col-md-12">
          <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Enter Cashier Name">
  
        </div>

        
      </div>
     
             
    
  </form>
  </div>
    </div>
    <!--End Of Table-->
<!--Form-->     
        
    