<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Template Assignment History
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Paypoint ID</th>
                <th>Paypoint Name</th>
                <th>Template</th>
                <th>Attribute Description</th>
                <th>Constant</th>
                <th>Period</th>
                <th>Strike Day</th>
                <th>File Extension</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="radio">&nbsp;234</td>
                <td>PP_Name1</td>
                <td>PP_Name1.rft</td>
                <td>Aggregated by</td>
                <td>55-PP_Name1</td>
                <td>MMYY</td>
                <td></td>
                <td>Text</td>
              </tr>
              <tr>
                <td><input type="radio">&nbsp;2387</td>
                <td>PP_Name2</td>
                <td>PP_Name2.rft</td>
                <td>Aggregated by</td>
                <td>55-PP_Name2</td>
                <td>MMYY</td>
                <td></td>
                <td>CSV</td>
              <tr>
                <td><input type="radio">&nbsp;587</td>
                <td>PP_Name8</td>
                <td>PP_Name5.rft</td>
                <td>Aggregated by</td>
                <td>55-PP_Name7</td>
                <td>MMYY</td>
                <td></td>
                <td>CSV</td>
              </tr>
              <tr>
                <td>Félix Troels</td>
                <td>2012/03/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td>Aulus Agmundr</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  
</div>
